<div class="home agg-container-fluid">
  <div class="row gx-4 gy-4">
    <div class="col-6">
      <a routerLink="/products">
        <p-card header="Products"> </p-card>
      </a>
    </div>
    <div class="col-6">
      <a routerLink="/vendors">
        <p-card header="Vendors"> </p-card>
      </a>
    </div>
    <div class="col-6">
      <a routerLink="/categories">
        <p-card header="DCS"> </p-card>
      </a>
    </div>
    <div class="col-6">
      <a routerLink="/customers">
        <p-card header="Customers"> </p-card>
      </a>
    </div>
  </div>
</div>
